/* app global styles */

.app {
  margin: 0 auto;
  width: 960px;
}

.app-title {
  color: #ffff57;
  font-size: 4em;
  letter-spacing: 2px;
}

.app-content {
  text-align: left;
}

.nav-btn {
  background: transparent;
  border: 3px solid #ccc;
  border-radius: 20px;
  color: #ccc;
  cursor: pointer;
  font-size: 1.2em;
  margin: 0 10px;
  padding: 10px;
}

.nav-btn:hover {
  border-color: #fff;
  color: #fff;
}

.app-card {
  background: #1b1b1b;
  border-radius: 20px;
  margin: 16px 0;
  padding: 8px 16px;
}

.app-card__title {
  color: #ffff57;
  margin: 10px 0;
}

.app-card__attr {
  color: #999;
  margin: 6px 0;
}
